# Python venv
.venv/

# Playwright / Chrome profile
chrome-profile/
tiktok_profile.json

# Output JSON
video.json
tiktok_profile.json
data.json
keywords.json

# Bytecode
__pycache__/

# IDE
.vscode/
.idea/


.env
logs/
